[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/nochzato/ticketopia-api-gateway.git
[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/nochzato/ticketopia-user-service.git
[submodule "proto"]
	path = proto
	url = https://github.com/nochzato/ticketopia-proto.git
